<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <li><i class="bi bi-person-workspace"></i><a href="/today" class="nav-link px-2 link-body-emphasis">Today</a></li>
            <li><i class="bi-globe"></i><a href="/work" class="nav-link px-2 link-body-emphasis">Work</a></li>
        </ul>
    </nav>
