<%- include("partials/header.ejs") %>

<div class="main-box">
<h1>Choose The List You Want To Add Something</h1>
<button><a href="/today">Today</a></button>
<button><a href="/work">Work</a></button>
</div>

<%- include("partials/footer.ejs") %>
